.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: var(--GothamProBlack);
  font-size: 23px;
  line-height: 1.09;
  color: var(--green);
  margin: 0;

  margin-bottom: 4px;
}

.text {
  font-size: 17px;
  line-height: 120%;
  color: var(--black);
  margin: 0;
}

.pageText {
  margin-right: 12px;
}

.input {
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  width: 65px;
  padding: 14px 12px;
  margin-right: 12px;
}

.arrow {
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin: 0;
}

.forwardArrow {
  margin-left: 10px;
}

.backArrow {
  transform: rotate(180deg);
}
