.box {
  display: flex;
  flex-direction: row;
  padding-top: 75px;
  padding-bottom: 24px;
  padding-right: 142px;
  padding-left: 142px;
}

.logo {
  margin-right: 42px;
}

.subMenuLeft {
  margin-right: auto;
}

.title {
  font-weight: 900;
  font-size: 23px;
  line-height: 1.09;
  color: #0097ff;
  margin-top: 0;
  margin-bottom: 2px;
}

.subTitle {
  font-size: 17px;
  line-height: 120%;
  color: #000c0c;
  margin-top: 0;
  margin-bottom: 12px;
}

.searchBox {
  display: flex;
  flex-direction: row;
}

.topBox {
  display: flex;
  flex-direction: row;
}

.topBox > span:first-child {
  margin-right: 108px;
  margin-bottom: 17px;
}

.bottomBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tel {
  font-size: 17px;
  line-height: 120%;
  color: #000c0c;
  margin-top: 0;
  margin-bottom: 3px;
}

.telText {
  font-size: 13px;
  line-height: 130%;
  color: #a8a8a8;
  margin: 0;
}

.telLink {
  font-size: 13px;
  line-height: 130%;
  color: #0097ff;
}

.links {
  display: flex;
  flex-direction: column;
}

.links > p {
  font-size: 17px;
  line-height: 120%;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 0;
}

.fullPrice {
  color: #0097ff;
}
.linksText {
  color: #5c5c5c;
}

.links > span {
  text-align: center;
}
