.filterMenuContainer {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.filterSubBox {
  margin-bottom: 32px;
}

.buttonShow {
  background-color: #9cc330;
  border-color: #9cc330;
  padding: 17px 22px;
}

.buttonShow:hover {
  background-color: #778d3a;
  border-color: #778d3a;
}
.buttonShow:active {
  background-color: #c7e86d;
  border-color: #c7e86d;
}

.buttonReset {
  background-color: #bab6b6;
  border-color: #bab6b6;
  padding: 17px 22px;
}
.buttonReset:hover {
  background-color: #8c8585;
  border-color: #8c8585;
}
.buttonReset:active {
  background-color: #ccc9c9;
  border-color: #ccc9c9;
}

.boxButtons {
  display: flex;
  justify-content: center;
}
