.button {
  display: flex;
  align-items: center;
  background: #0097ff;
  border: solid 1px #0097ff;
  border-radius: 10px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 19px;
  cursor: pointer;
}

.iconKatalog {
  margin-right: 24px;
}

.buttonText {
  /* font-family: Gotham Pro; */
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  /* line-height: 0.93; */
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
}
