.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subBox {
  padding-top: 32px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titlePrefix {
  font-family: var(--GothamProBlack);
  font-size: 23px;
  line-height: 1.09;
  color: var(--black);
}

.showAll {
  font-size: 17px;
  line-height: 120%;
  color: var(--blue);
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
}
