.title {
  font-family: var(--GothamProBlack);
  font-size: 23px;
  line-height: 25px;
  color: var(--black);
  margin: 0;
  margin-bottom: 32px;
}

.subBox {
  display: flex;
}

.btnResetAll {
  background-color: #fff;
  border: none;
  font-size: 17px;
  line-height: 120%;
  color: var(--darkGray);
  cursor: pointer;
  padding: 0;
  margin-right: 12px;
  height: 40px;
}

.listLabels {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* margin-top: 32px; */
}

.indent {
  margin-right: 12px;
  height: 40px;
}
