a {
  text-decoration: none;
}

.path {
  padding-top: 27px;
  padding-left: 142px;
  padding-right: 142px;
  padding-bottom: 56px;
}

.title {
  padding: 0 142px;
  padding-bottom: 66px;
}

.listPossibleGoods {
  padding: 0 142px;
  padding-bottom: 93px;
}

.body {
  display: flex;
  flex-direction: row;
  padding: 0 142px;
  padding-bottom: 76px;
}

.strip {
  height: 50px;
  width: 100%;
  background-color: var(--green);
}

.footer {
  padding-right: 142px;
  padding-left: 142px;
}
