.box {
  width: 392px;
}

.subBox {
  padding-top: 32px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titlePrefix {
  font-family: var(--GothamProBlack);
  font-size: 23px;
  line-height: 1.09;
  color: var(--black);
}

.subTitle > img {
  margin-right: 10px;
  cursor: pointer;
}

.subBox > button:first-child {
  margin-right: 108px;
}

.buttons {
  width: 132px;
  height: 46px;
  font-size: 17px;
  line-height: 120%;

  color: var(--grey);
  background: #dddddd;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;

  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 32px;
}

.buttons > span {
  font-size: 17px;
  line-height: 120%;
  color: var(--black);
}

.slider {
  width: 371px;
  /* border: 2px solid var(--blue);; */
}
