.subTitle {
  display: flex;
  align-items: center;
}

.subTitle > img {
  cursor: pointer;
}

.title {
  font-weight: 900;
  font-size: 23px;
  line-height: 1.09;
  color: #000c0c;
  cursor: pointer;
  margin: 0;
  margin-left: 15px;
}

.arrowUp {
  transform: rotate(0deg);
}

.arrowDown {
  transform: rotate(180deg);
}
